:root {
  --code-font: "Cascadia Code", monospace, monospace;
  --color-link: hsl(var(--ctp-blue-hsl));
  --color-link-visited: hsl(
    var(--ctp-lavender-hsl-h) var(--ctp-lavender-hsl-s)
      calc(var(--ctp-lavender-hsl-l) - 10%)
  );
  --color-link-hover: hsl(
    var(--ctp-sky-hsl-h) var(--ctp-sky-hsl-s) calc(var(--ctp-sky-hsl-l) - 10%)
  );
}

* {
  box-sizing: border-box;
  border: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-link: hsl(var(--ctp-blue-hsl));
    --color-link-visited: hsl(var(--ctp-lavender-hsl));
    --color-link-hover: hsl(var(--ctp-sky-hsl));
  }
}

body {
  background: var(--ctp-base);
  color: var(--ctp-text);
  font-family: sans-serif;
  font-size: 1rem;
  text-align: justify;
}

header {
  max-width: 100%;
  margin: 0 auto;
  padding: 1.5em 1.5em 1em;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin: 1rem 0 0;
}

@media (width >= 600px) {
  body {
    font-size: 1.1rem;
  }

  header h1 {
    font-size: 3.5rem;
  }
}

@media (width >= 1200px) {
  body {
    font-size: 1.2rem;
  }

  header h1 {
    font-size: 5rem;
  }
}

main {
  max-width: 70em;
  margin: 0 auto;
}

article {
  max-width: 100%;
  padding: 1em 1.5em 1.5em;
  width: 37.5em;
  margin: 0 auto;
}

footer > * {
  margin: 0;
}

footer > * + * {
  margin: 0.5rem auto 0;
}

main > article > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

::selection {
  background: var(--ctp-surface2);
  opacity: 0.4;
}

a {
  color: var(--color-link);
}

nav ul li a {
  text-decoration: none;
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
}

a.header-anchor:visited {
  color: var(--color-link);
}

a.header-anchor:hover {
  color: var(--color-link-hover);
}

ins {
  color: var(--ctp-green);
  text-decoration: underline;
}

del {
  color: var(--ctp-red);
  text-decoration: line-through;
}

button,
input,
select,
textarea {
  /* appearance: none; */
  color: var(--ctp-text);
  background: none;
  font-family: inherit;
  font-size: 100%;
  border-color: var(--ctp-overlay0);
  border-radius: 0.3em;
}

textarea {
  overflow: auto;
}

button:focus,
button:hover,
input:focus,
select:focus,
textarea:focus {
  background-color: var(--ctp-mantle);
  border-color: var(--ctp-lavender);
}

button:active,
select:active {
  background-color: var(--ctp-crust);
}

select:active {
  border-color: var(--ctp-yellow);
}

li.primary {
  font-weight: bold;
}

dl > dt {
  font-weight: bold;
}

dl.pgp-info {
  text-align: left;
}

nav ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li.current a {
  font-weight: bold;
}

nav ul li a:visited {
  color: var(--color-link);
}

nav ul li a:hover {
  color: var(--color-link-hover);
}

nav ul li a::before {
  content: "« ";
}

nav ul li a::after {
  content: " »";
}

nav ul li.current a::before {
  content: "» ";
}

nav ul li.current a::after {
  content: " «";
}

footer {
  background: var(--ctp-crust);
  padding: 3rem;
  font-size: smaller;
  text-align: center;
}

footer ul.socials {
  list-style: none;
  padding: 0;
}

footer ul.socials li {
  display: inline-block;
}

footer ul.socials li:not(:last-child)::after {
  content: "|";
}
