:root {
  --code-font: "Cascadia Code", monospace, monospace;
  --color-link: hsl(var(--ctp-blue-hsl));
  --color-link-visited: hsl(
    var(--ctp-lavender-hsl-h) var(--ctp-lavender-hsl-s)
      calc(var(--ctp-lavender-hsl-l) - 10%)
  );
  --color-link-hover: hsl(
    var(--ctp-sky-hsl-h) var(--ctp-sky-hsl-s) calc(var(--ctp-sky-hsl-l) - 10%)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-link: hsl(var(--ctp-blue-hsl));
    --color-link-visited: hsl(var(--ctp-lavender-hsl));
    --color-link-hover: hsl(var(--ctp-sky-hsl));
  }
}

body {
  background: var(--ctp-base);
  color: var(--ctp-text);
  font-family: sans-serif;
  font-size: 1em;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: justify;
}

::selection {
  background: var(--ctp-surface2);
  opacity: 0.4;
}

code,
pre,
kbd {
  font-family: var(--code-font);
}

a {
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
}

ins {
  color: var(--ctp-green);
  text-decoration: underline;
}

del {
  color: var(--ctp-red);
  text-decoration: line-through;
}

button,
input,
select,
textarea {
  /* appearance: none; */
  color: var(--ctp-text);
  background: none;
  font-family: inherit;
  font-size: 100%;
  border-color: var(--ctp-overlay0);
  border-radius: 0.3em;
}

textarea {
  overflow: auto;
}

button:focus,
button:hover,
input:focus,
select:focus,
textarea:focus {
  background-color: var(--ctp-mantle);
  border-color: var(--ctp-lavender);
}

button:active,
select:active {
  background-color: var(--ctp-crust);
}

select:active {
  border-color: var(--ctp-yellow);
}

li.primary {
  font-weight: bold;
}

dl > dt {
  font-weight: bold;
}

dl.pgp-info {
  text-align: left;
}

figure.highlight > pre {
  border-radius: 5px;
  padding: 0.7rem;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li.current a {
  font-weight: bold;
}

nav ul li a::before {
  content: "« ";
}

nav ul li a::after {
  content: " »";
}

nav ul li.current a::before {
  content: "» ";
}

nav ul li.current a::after {
  content: " «";
}

footer {
  margin: 3rem auto 5rem;
  text-align: center;
}

footer > * {
  margin: 0.5rem auto 0;
}

footer ul.socials {
  list-style: none;
  padding: 0;
}

footer ul.socials li {
  display: inline-block;
}

footer ul.socials li:not(:last-child)::after {
  content: "|";
}
