<!DOCTYPE html>
<html lang="{{ metadata.language }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title and title != metadata.title %}{{ title }} | {{ metadata.title }}{% else %}{{ metadata.title }}{% endif %}</title>
  <meta property="og:title" content="{{ title or metadata.title }}" />
  <meta property="og:site_name" content="{{ metadata.title }}" />
  <meta name="description" content="{{ description or metadata.description }}" />
  <meta property="og:description" content="{{ description or metadata.description }}" />
  <meta property="og:locale" content="{{ metadata.locale }}" />
  <link rel="canonical" href="{{ page.url | htmlBaseUrl(metadata.canonical_url) }}" />
  <meta property="og:url" content="{{ page.url | htmlBaseUrl(metadata.url) }}" />
  <meta name="generator" content="{{ eleventy.generator }}" />
  <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metadata.title }}" />
  <link rel="alternate" href="/feed.json" type="application/json" title="{{ metadata.title }}" />
  <link rel="stylesheet" media="screen" href="/css/catppuccin.css" />
  <link rel="stylesheet" media="screen" href="/css/normalize.css" />
  <link rel="stylesheet" media="screen" href="/css/main.css" />
  <link rel="stylesheet" media="screen" href="/css/prism-theme.css" />
</head>
<body>
  <header>
    {% include 'nav.njk' %}
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <p>&copy; 2020-2024 by <a href="https://github.com/Sharparam">Adam Hellberg</a>.</p>
    <p>Content is licensed under a <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC-BY-NC-ND</a> license.</p>
    <ul class="socials">
      {% for social in metadata.socials %}{% if social.footer === true %}
      <li>
        <a href="{{ social.url }}">{{ social.name }}</a>
      </li>
      {% endif %}{% endfor %}
  </ul>
  </footer>
</body>
</html>
