---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <article>
    <h1>Hi, I’m Adam!</h1>

    <p>
      You may be more familiar with my online nickname: <strong
        >Sharparam</strong
      >.
    </p>

    <p>
      I enjoy programming, which I started doing as a kid in circa 2005, and
      have done professionally since 2017. I host most of my work at
      <a href="https://github.com/Sharparam">GitHub</a>.
    </p>

    <p>Other interests of mine include photography and playing the piano.</p>

    <p>
      If you’d like to read more about me, check out <a href="/about/"
        >the about page</a
      >.
    </p>

    <p>
      Want to get in touch? Check out <a href="/contact/">the contact page</a> for
      information on how to reach me.
    </p>

    <p><em>Maybe one day I’ll start writing a blog again…</em></p>
  </article>
</Layout>
